/bin/
/lib/CopyLibs
/lib/nblibraries.properties
/results/
/.classpath
/.project
/ddresults/
/nbproject/
/build/
/dist/
/manifest.mf
/jobqueue/
/logs/
*.pyc

/queue*/
/lambdaqueue*/
/a3nqueue/
/testweights.bin
/.idea/
